
h1 {
  font-family: sans-serif;
  font-size: 8rem;
  font-weight: normal;
  font-variant: small-caps;
}

h2 {
  font-family: sans-serif;
  font-size: 8rem;
  font-weight: normal;
  text-transform: uppercase;
}
