div {
  width: 400px;
  height: 200px;
  /* background-color: rgb(83, 30, 105); */
  border: 20px;
  border-color: rgb(91, 80, 97);
  border-radius: 20%;
  border-style: groove;
  background-image: url(Switzerland.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
