p::first-letter {
  color: red;
  font-size: 2rem;
  line-height: .5;
}

p::first-line {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

p {
  margin: 0;
  max-width: 550px;
  text-indent: 1rem;
}
