table, tr, td {
  width: 200px;
  border: 3px;
  border-style: solid;
  border-color: black;
}

tr:nth-child(even) {
  background-color: rgb(105, 80, 140);
}

tr:nth-child(odd) {
  background-color: rgb(221, 213, 232);
}
